body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

h1{
    font-size:55px;
    margin-bottom:10px;
}

p{
    font-size:22px;
    color:#94a3b8;
}
.hero{
    text-align:center;
}

span{
    color:#38bdf8;
}

button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2563eb;
    transform:scale(1.05);
}
